@model MedHelper.BLL.Dto.Responses.DoctorResponse
@{
    var fullname = string.Concat(Model.FirstName, " ", Model.LastName);
}


<link rel="stylesheet" href=~/css/doctorStyle.css type="text/css" />


<form asp-controller="Doctor" asp-action="Index" method="get">
    <div class="top-part">
        <div class="logo-img-wrapper">
            <img class="logo-img" src="~/MedHelperTitle.png" alt="" />
        </div>
        <div class="doctor-info-wrapper">
            <div class="img-bottom-wrapper">
                <img class="doctor-img" src="~/DoctorLogo.png" alt="" />
                <button class="button-add" type="button" onclick="location.href='@Url.Action("Add", "Patient")'" >Додати пацієнта</button>
            </div>
            <div class="info-wrapper">
                <div class="info">
                    <div class="user-name"> @fullname </div>
                    <div class="gmail">@Model.Email</div>
                </div>
                <img class="button-edit" src="~/EditLogo.png">
            </div>
        </div>
    </div>
    <hr>
    <div class="bottom-part">
        <div class="patient-list">
            <div class="search-part">
                <img class="search-img" src="~/SearchLogo.png">
                <input class="search" name="search" type="text" asp-for="search" placeholder="Пошук..">
                <input type="submit" value="Знайти" style="float:right"/>
            </div>
            <div class="scroll-panel">
                @for (var i = 0; i < Model.Patients.Count; i++)
                {
                    <button class="button-patient" type="button" onclick="location.href='@Url.Action("Index", "Patient", new { id = Model.Patients[i].Id })'">
                        @Model.Patients[i].FirstName @Model.Patients[i].LastName
                    </button>
                }
            </div>
        </div>
    </div>
</form>