@model MedHelper.BLL.Dto.Responses.TempMedicineResponse
@using Microsoft.AspNetCore.Identity
@using MedHelper.DAL.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    var composition = "";
    var contraindication = "";
    var interaction = "";
    foreach (var item in Model.Compositions)
    {
        composition += item.Description + ",\n";
    }
    foreach (var item in Model.Contraindications)
    {
        contraindication += item.Title + ";\n";
    }
    for (int i = 0; i < Model.MedicineInteractions.Count; i++)
    {
        interaction += $"{i + 1}. {Model.MedicineInteractions[i].Composition}:    {Model.MedicineInteractions[i].Description} \n";
    }
}

<link rel="stylesheet" href=~/css/Medicine.css />
<link rel="stylesheet" href=~/css/AdminStyleblyat.css />

<div class="medicine-content border border-2 m-0" style="max-height: 500px; height: inherit;">
    <div class="medicine-container m-0 position-relative">
        <div class="medicine-name-header d-flex align-items-center justify-content-center position-sticky top-0">
            <p>@Model.Name</p>
        </div>
        <div class="medicine-scroll-panel">

            <div class="row">
                <label>Назва препарату:</label>
                <input type="text" value=@Model.Name disabled>
            </div>

            <div class="row">
                <label>Фармакоцептична група:</label>
                <input type="text" value=@Model.Group.Title disabled>
            </div>

            <div class="row">
                <label>Склад:</label>
                <pre>@composition</pre>

            </div>

            <div class="row">
                <label>Противопоказання:</label>
                <pre>@contraindication</pre>
            </div>

            @*<div class="row">
                <label>Взаємодія з іншими препаратами:</label>
                <pre>@interaction</pre>
            </div>*@

        </div>
    </div>

</div>
@if (User.IsInRole("Admin"))
{
    <form asp-action="Delete" asp-route-id="@Model.Id">
        <div class="w-100 d-flex justify-content-center mt-2">
            <input type="submit" id="btn-delete" class="btn btn-danger m-0"
                   onclick="return confirm('Ви впевнені, що хочете видалити даний препарат?')"
                   value="Видалити" />
        </div>
    </form>
}