@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href=~/css/addEditPatient.css />
<div class="add-edit-patient-content" onload="Init()">
    <h1> Додати пацієнта </h1>
    <hr>
    <div class="container">
        <div class="container-left">
            <label> Ім'я: </label>
            <input type="text" name="username" value=@ViewBag.Patient.FirstName placeholder="username" size="15" required />
            <label> Прізвище: </label>
            <input type="text" name="username" value=@ViewBag.Patient.LastName placeholder="username" size="15" required />
            <label> Дата народження: </label>
            <input type="date" name="birthday" value=@(ViewBag.Patient.Birthdate.ToString("yyyy-MM-dd")) placeholder="birthday" size="15" required />
            <div>
                <label>
                    Стать :
                </label>
                <br>
                @if (ViewBag.Patient.Gender == "Male")
                {
                    <div>
                        <input type="radio" value="Male" name="gender" checked> Чоловік
                        <input type="radio" value="Female" name="gender"> Жінка
                    </div>
                }
                else
                {
                    <div>
                        <input type="radio" value="Male" name="gender"> Чоловік
                        <input type="radio" value="Female" name="gender" checked> Жінка
                    </div>
                }

            </div>

            <div>
                <label>
                    Список препаратів, які вживає пацієнт:
                </label>

                <div>
                    <datalist id="MedicineSuggestions">
                        @foreach (var item in ViewBag.Medicines)
                    {
                       <option id=@item.Id>@item.Name</option> 
                    }
                    </datalist>
                    <input id="medicine_suggestions_input" autoComplete="on" class="drop-down list" placeholder="склад" list="MedicineSuggestions" />
                </div>
                <textarea cols="80" rows="5" id="selectedMedicineOptionsTextArea"></textarea>
                <button class="delete-drop-down" onclick="clearSelectedMedicineOptionsTextArea()">-</button>
            </div>
        </div>
        <div class="container-right">
            <label>
                Медична карта:
            </label>

            <div>
                <datalist id="ContraindicationSuggestions">
                    @foreach (var item in ViewBag.Diseases)
                    {
                       <option id=@item.Id>@item.Title</option> 
                    }
                </datalist>
                <input id="contraindication_suggestions_input" autoComplete="on" class="drop-down list" placeholder="противопоказання" list="ContraindicationSuggestions" />
            </div>
            <textarea cols="80" rows="5" id="selectedContraindicationOptionsTextArea"></textarea>
            <button class="delete-drop-down" onclick="clearSelectedContraindicationOptionsTextArea()">-</button>


            <button class="registerbtn" onclick="EditPatient(1)">Додати пацієнта</button>

        </div>
    </div>

    <script>
        //function Init(){
        var DiseasesId=[]
        var Diseases = "@(ViewBag.Patient.DiseasesId.ToArray())";
        for(var i=0; i<Diseases.length;i++)
        {
            DiseasesId.push(Diseases[i])
             var elem = document.getElementById("ContraindicationSuggestions").children
                var size = elem.length
                for(var i=0; i<size;i++)
                {
                    if(elem[i].Id==Diseases[i])
                    {
                    document.getElementById("selectedContraindicationOptionsTextArea").innerHTML += elem[i].value +'\n';
                    }
                    
                }
          
        }
        var MedicinesId=[]
        var Medicines = "@(ViewBag.Patient.MedicinesId.ToArray())";
        for(var i=0; i<Medicines.length;i++)
        {
            MedicinesId.push(Medicines[i])
             var elem = document.getElementById("MedicineSuggestions").children
                var size = elem.length
                for(var i=0; i<size;i++)
                {
                    if(elem[i].Id==Medicines[i])
                    {
                    document.getElementById("selectedMedicineOptionsTextArea").innerHTML += elem[i].value +'\n';
                    }
                    
                }
          
        }
        EditPatient = function(e)
            {
                var url = "https://localhost:1111/echo/put/json";
                var xhr = new XMLHttpRequest();
                xhr.open("PUT", url);

                xhr.setRequestHeader("Content-Type", "application/json");

        var data = `{
          "Id": 12345,
          "Customer": "John Smith",
          "Quantity": 1,
          "Price": 10.00
        }`;

        xhr.send(data);
            }
            //const storageSuggestions = document.getElementById('storageSuggestions').childNodes;
            const MedicineSuggestionsInput = document.getElementById("medicine_suggestions_input");
            let eventSource = null;

            MedicineSuggestionsInput.addEventListener('keydown', (event) => {
                if(event.key === 'Enter') {
                    event.preventDefault(); // не перекине на інший інпут
                }
                eventSource = event.key ? 'input' : 'list';
            });
            MedicineSuggestionsInput.addEventListener('input', (event) => {
              if (eventSource === 'list') {

                document.getElementById("selectedMedicineOptionsTextArea").innerHTML += event.target.value +'\n';
                var elem = document.getElementById("MedicineSuggestions").children
                var size = elem.length
                for(var i=0; i<size;i++)
                {
                    if(elem[i].value==event.target.value)
                    {
                    MedicinesId.push(elem[i].id)
                    console.log(MedicinesId)
                    }
                    
                }
                
              }
            });
            function clearSelectedMedicineOptionsTextArea() {
              let splittedText = document.getElementById("selectedMedicineOptionsTextArea").innerHTML.split(/\r?\n/)
              splittedText.splice(-2)
              document.getElementById("selectedMedicineOptionsTextArea").innerHTML = splittedText.join('\n');
              document.getElementById("selectedMedicineOptionsTextArea").innerHTML+="\n";
              MedicinesId.pop();
            }


            const ContraindicationSuggestionsInput = document.getElementById("contraindication_suggestions_input");
            let eventSource2 = null;

            ContraindicationSuggestionsInput.addEventListener('keydown', (event) => {
                if(event.key === 'Enter') {
                    event.preventDefault(); // не перекине на інший інпут
                }
                eventSource2 = event.key ? 'input' : 'list';
            });
            ContraindicationSuggestionsInput.addEventListener('input', (event) => {
              if (eventSource2 === 'list') {
                document.getElementById("selectedContraindicationOptionsTextArea").innerHTML += event.target.value +'\n';
                var elem = document.getElementById("ContraindicationSuggestions").children
                var size = elem.length
                for(var i=0; i<size;i++)
                {
                    if(elem[i].value==event.target.value)
                    {
                    DiseasesId.push(elem[i].id)
                    console.log(DiseasesId)
                    console.log("@(ViewBag.Patient.Diseases.ToArray()[0].Id)")
                    }
                    
                }
              }
            });
            function clearSelectedContraindicationOptionsTextArea() {

              let splittedText = document.getElementById("selectedContraindicationOptionsTextArea").innerHTML.split(/\r?\n/)
              splittedText.splice(-2)
              document.getElementById("selectedContraindicationOptionsTextArea").innerHTML = splittedText.join('\n');
              document.getElementById("selectedContraindicationOptionsTextArea").innerHTML+="\n";
              DiseasesId.pop();
            }


    </script></div>
