@model MedHelper.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<head>
    <title>@ViewData["Title"]</title>
</head>
<link rel="stylesheet" href=~/css/authorization_style.css type="text/css" />


<div>
    <div >
        <div class="card">
            <div class="card-header">
                <div class="card-title">Login</div>
            </div>
            <hr>
            <div class="card-body">
                <div class="left-container">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div>
                                @Html.LabelFor(m => m.Email)
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                @Html.LabelFor(m => m.Password)
                            </div>
                            <div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                            <div class="link">
                                <p><a href="/Account/ForgotPassword" >Forget password?</a></p>
                            </div>
                        </div>

                            }
                        </div>
                        <div class="right-container">
                            <div class="centered">
                                <h1>ARE YOU NEW HERE?</h1>
                            </div>
                            <div class="gr">
                                <img class="doctor-img" src="~/plus.png" alt="" />
                                <input type="submit" name="submit" onclick="RedirectToRegister()" class="btn btn-primary" value="Sign up" />
                            </div>
                        </div>

                        @{if (ViewBag.error == "Login failed")
                            {
                                <span style="color: red; margin-top: 20px;"> Login failed! </span>
                            }
                        }
                    </div>
            </div>
    </div>
</div>
<script>
RedirectToRegister= function()
{
    window.location.href="/Account/Register";
}
</script>