@model MedHelper.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<link rel="stylesheet" href="~/css/authorization.css" type="text/css" />

<head>
    <title>@ViewData["Title"]</title>
</head>
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <hr>
            <div class="card-body">
                <div class="left-container">
                    @using (Html.BeginForm("Login", "Authorization", FormMethod.Post))
                    {

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div>
                                @Html.LabelFor(m => m.Email)
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                @Html.LabelFor(m => m.Password)
                            </div>
                            <div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                        </div>
                    }
                </div>
                    <div class="right-container">
                    </div>
                </div>
            </div>
    </div>
</div>